* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

body {

}

nav { 
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.sidebar {
    height: 93vh;
    width: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
}

.sidebar li {
    margin: 2rem 0 2rem 0;
}

