@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --green: #b6cf29;
    --light-green: #daffd3;
    --black: #333333;
    --gray: gray;
    --grey: #f7f7f7;
    --white: #FEFEFE;;

    --shadow: -3px 3px 22px -8px rgba(0,0,0,0.69);
}

body {
    background-color: #f7f7f7;
    font-family: "Open Sans", sans-serif;
    position: relative;

    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

p {
    font-size: 0.75rem;
}

button {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
}

/* SPECIFIC CSS */

/* DASHBOARD HEADER */
main {
    display: flex;
    flex-direction: column;
    position: relative;

    gap: 1rem;
}

.dashboard-header {
    background-color: var(--white);

    width: 100%;
    height: 45vh;
    padding: 1rem 12rem 1rem 12rem;
}

/* DASHBOARD HEADER NAV */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 5.5rem;
    margin-bottom: 1.25rem;
}

nav img {
    height: auto;
    width: 4.5rem;
}

nav input {
    height: 2.5rem;
    width: 22.5rem;
    border-radius: 0.5rem;
}

.nav-group {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

nav .button-group {
    display: flex;
    gap: 0.75rem;
}


nav .dashboard-profile {
    background-color: var(--gray);
    text-align: center;

    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
}

nav .dashboard-cart {
    height: 2.5rem;
    width: 2.5rem;
}

/* DASHBOARD HEADER CATEGORY  */

.header-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;

    width: 100%;

}

.header-category input {
    background-color: #f7f7f7;
    border-color: transparent;

    height: 2.5rem;
    width: 100%;
    border-radius: 20px;
    padding-left: 3.75rem;
}

.category-container {
    display: flex;
    align-items: center;
    
    gap: 2.5rem;
}

.food-category-card {
    background-color: var(--grey);
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    cursor: pointer;
}

#pastaCategory {
    background-image: url(/Assets/Dashboard-Food-Categories/pasta.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#pastaCategory:hover {
    background-color: black;
}
#burgerCategory {
    background-image: url(/Assets/Dashboard-Food-Categories/burger.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#sandwichCategory {
    background-image: url(/Assets/Dashboard-Food-Categories/sandwich.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#chickenCategory {
    background-image: url(/Assets/Dashboard-Food-Categories/chicken.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#porkCategory {
    background-image: url(/Assets/Dashboard-Food-Categories/pork.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#dessertCategory {
    background-image: url(/Assets/Dashboard-Food-Categories/dessert.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#juiceCategory {
    background-image: url(/Assets/Dashboard-Food-Categories/juice.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* HEADER BODY */
.header-body {
    background-color: var(--white);

    width: 100%;
    padding: 1.5rem 12rem 1rem 12rem;
}

.best-seller-container {
    display: flex;
    position: relative;

    width: 100%;
}

.best-seller-picture img {
    position: absolute;
    right: -20rem;

    border-radius: 100%;
    width: auto;
    height: 40rem;
    box-shadow: var(--shadow);
}

/* CART */
.cart {
    display: flex; /* FLEX */
    flex-direction: column;
    justify-content: space-between;
    position: fixed;

    padding: 1.5rem;
    height: 100%;
    width: 35rem;
    right: -35rem;
    z-index: 5;
    background-color: var(--white);
    box-shadow: var(--shadow);

    transition: 0.5s;
}

/* CART HEADER */
.cart-header {
    height: 8%;
}

.cart img {
    height: auto;
    width: 1.25rem;
}

/* CART BODY */
.cart-body {
    overflow: hidden;
    overflow-y: auto;

    height: 100%;
    width: 100%;
}

.basket-item {
    background-color: blue;
    
    border-bottom: 1px solid rgb(240, 239, 239);
    height: 20%;
    width: 99.5%;
    margin-bottom: 0.5rem;
}

/* CART FOOTER */
.cart-footer{
    height: 18%;
}

.total-container {
    display: flex;
    justify-content: space-between;

    margin-top: 1rem;
}

.total-container h1 {
    font-weight: 500;
}

.cart-footer button {
    font-weight: bold;

    margin-top: 1rem;
    width: 100%;
    height: 48px;
}

.profile {
    display: flex; /* FLEX */
    flex-direction: column;
    justify-content: space-between;
    position: fixed;

    padding: 1.5rem;
    height: 100%;
    width: 35rem;
    right: -35rem;
    z-index: 5;
    background-color: var(--white);

    transition: 0.5s;
}

/* CART HEADER */
.profile-header {
    height: 8%;
}

.profile img {
    height: auto;
    width: 1.25rem;
}
