@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --green: #b6cf29;
    --light-green: #daffd3;
    --black: #050505;
    --gray: gray;
    --grey: #b4c0b4;
    --white: #f4fbeb;

    --shadow: -5px 4px 11px -2px rgba(0,0,0,0.47);
}

body {
    background-color: var(--white);
    font-family: "Open Sans", sans-serif;
}

p {
    font-size: 0.75rem;
}

button {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.5rem;
}
/* SPECIFIC CSS */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    margin-bottom: 1rem;
    /* height: 3.125rem; */
}

nav img {
    width: auto;
    cursor: pointer;

    height: 4rem;
}

nav ul {
    display: flex;
    gap: 1.25rem;
}

nav ul li {
    list-style-type: none;

    transition: 0.5s;
}

nav ul li:hover {
    font: bold;
    color: var(--green);
}

nav .nav-button-group {
    display: flex;
    gap: 1.25rem;
}

nav .nav-login, .nav-signup {
    background-color: var(--green);
    border-color: transparent;
    color: var(--white);

    transition: 0.5s;
}

nav .nav-login:hover, .nav-signup:hover {
    background-color: var(--white);
    border-color: var(--green);
    color: var(--green);
}

/* HERO */
main {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 0 1rem 1rem;
    height: 85vh;
    width: 100%;
    margin-bottom: 2rem;
}

main .hero-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8rem;
    width: 20%;
}

main h1 {
    font-size: 5rem;
}

main h2:last-of-type {
    margin-bottom: 0.75rem;
}

main .hero-text-container button {
    margin-top: 1.25rem;
    width: 6.5rem;
}

main .hero-food-img-container {
    position: relative;
    right: 20rem;
    height: 100%;
}

main .food-image {
    background-color: var(--light-green);
    position: absolute;

    z-index: -1;
    border-radius: 100%;
    height: 38rem;
    width: 38rem;
}

main .hero-food-selector-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2rem;
    width: 35%;
}

main .food-slide-1, .food-slide-2, .food-slide-3 {
    display: flex;
    align-items: center;
    background-color: var(--green);
    color: var(--white);
    gap: 1rem;
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 10rem 0 0 10rem;
    height: 8rem;
    width: 90%;

    transition: 0.5s;
}

main .food-slide-1:hover, .food-slide-2:hover, .food-slide-3:hover {
    color: var(--green);
    border-color: var(--green);
    background-color: var(--white);
    
    padding: 2rem 2rem 2rem 1.5rem;
    height: 8.5rem;
    width: 100%;
}

main .food-slide-image-1, .food-slide-image-2, .food-slide-image-3 {
    height: 6rem;
    width: 6rem;
    border-radius: 100%;
    background-color: var(--white);
}

main .food-slide-text {
    width: 80%;
}

/* HERO BANNER */
.hero-banner {
    width: 100%;
    height: 40vh;
}

.hero-banner-container {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 90%;
    height: 90%;
    border-radius: 0 10rem 10rem 0;
}

.banner-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--white);
    gap: 1rem;
    padding: 0 1rem 1rem 1rem;
    width: 20%;
    border-radius: 0.5rem;
}

.banner-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.banner-card .banner-card-icon {
    background-color: blue;
    margin-top: -2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
}

/* ABOUT US */
.hero-about-us {
    height: 90vh;
    width: 100%;
}

.about-us-container {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    gap: 2.5rem;
    height: 90%;
    width: 100%;
}

.about-us-img {
    height: 80%;
    width: 40%;
    background-color: rebeccapurple;
}

.about-us-textbox {
    width: 40%;
}

.about-us-textbox h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.about-us-textbox h4 {
    color: var(--green);
    margin-bottom: 0.5rem;
}

.about-us-textbox p {
    margin-bottom: 1rem;
}
.about-us-textbox ul li {
    font-size: 0.75rem;
    width: 90%;
}

.about-us-textbox ul {
    margin-bottom: 1.5rem;
}

/* HERO MENU */
.hero-menu {
    height: 60vh;
    width: 100%;
}

.menu-container {
    background-color: var(--light-green);

    height: 90%;
    width: 100%;
}

.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 3rem 10rem 2.5rem 10rem;
    height: 15%;
}

.menu-header h4 {
    color: var(--green);
    margin-bottom: 0.5rem;
}

.menu-header h1 {
    font-size: 1.75rem;
}

.menu-body {
    display: flex;

    padding: 1rem 10rem 3rem 10rem;
    width: 100%;
    height: 85%;
}

.menu-category-container {
    overflow: hidden;
    overflow-y: auto;

    width: 20%;
    height: 100%;
}

.calorie-filter-container {
    margin-bottom: 1rem;
}

.calorie-filter-container input {
    width: 95%;
}

.category-container button {
    width: 95%;
    border-radius: 10rem;
    margin-bottom: 1rem;
}

.menu-food-card-container {
    display: flex;
    overflow: hidden;
    overflow-x: auto;

    padding: 0 1rem 0 1rem;
    gap: 1.25rem;
    min-width: 80%;
    height: 100%;
}

.food-card {
    background-color: var(--white);
    width: 27.5%;
    height: 100%;
    border-radius: 0.5rem;
}

.food-card-img {
    height: 60%;
    width: 100%;
    background-color: red;
    border-radius: 0.5rem 0.5rem 0 0;
}

.food-card-text {
    padding: 1rem;
}

.food-card-text h3 {
    margin-top: 1rem;
}

/* TESTIMONIALS */
.hero-testimonials {
    height: 90vh;
    width: 100%;
    padding: 1rem 10rem 3rem 10rem;
}

.testimonial-container {
    display: flex;

    gap: 1.5rem;
    width: 100%;
    height: 90%;
}

.testimonial-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    gap: 2.5rem;
    height: 100%;
    width: 30%;
}

.testimonial-text-container-header h4 {
    color: var(--green);
    margin-bottom: 0.5rem;
}

.testimonial-text-container-header h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
}

.testimonial-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: gray;
    color: var(--white);

    width: 75%;
    /* height: 25%; */
    padding: 1rem;
}

.customer-testimonial-header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.customer-testimonial-header h4 {
    margin-top: 0.5rem;
}

.customer-testimonial-header p {
    font-size: 1rem;
}

.testimonial-box .customer-img {
    height: 4rem;
    width: 4rem;
    background-color: blue;
    border-radius: 100%;
    margin-top: -3rem;
}

.testimonial-image-compilation {
    display: flex;
    flex-direction: column;

    gap: 0.75rem;
    height: 100%;
    width: 70%;
}

.testimonial-image-compilation .img {
    height: 10rem;
    width: 10rem;
    background-color: var(--gray);

    transition: 0.5s;
}

.testimonial-image-compilation .img:hover {
    height: 11.5rem;
    width: 11rem;
}

.image-compilation-row-1, .image-compilation-row-2, .image-compilation-row-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}