@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --green: #b6cf29;
    --light-green: #daffd3;
    --black: #333333;
    --gray: gray;
    --grey: #f7f7f7;
    --white: #FEFEFE;

    --shadow: -3px 3px 22px -8px rgba(0,0,0,0.69);
}

body {
    background-image: url(/Assets/Marble-Background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
}

p {
    font-size: 0.75rem;
}

button {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    text-shadow: 0.75px 1px var(--black);
    cursor: pointer;
    transition: 0.5s;
}

/* SPECIFIC CSS */
nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    padding: 1.5rem 1.5rem 1.5rem 1rem;
    margin-bottom: 1rem;
    height: 3.125rem;
    width: 100%;
    z-index: 5;

    transition: 0.5s;
}

nav img {
    width: auto;
    cursor: pointer;

    border-radius: 100%;
    height: 3rem;
}

nav ul {
    display: flex;
    gap: 1.75rem;
}

nav ul li {
    list-style-type: none;
    color: var(--white);
    text-shadow: 0.75px 1px var(--black);
    font-weight: bold;
    font-size: .9rem;

    transition: 0.5s;
}

nav ul li:hover {
    font: bold;
    color: var(--green);
}

nav .nav-button-group {
    display: flex;
    gap: 0.75rem;
}

nav .nav-login, .nav-signup {
    background-color: var(--green);
    border: transparent;
    color: var(--white);
    text-shadow: none;
    height: 2rem;

    transition: 0.5s;
}

nav .nav-button-scroll {
    text-shadow: none;
    background-color: var(--white);
    border: transparent;
    color: var(--green);

    height: 2rem;
    transition: 0.5s;
}

nav .nav-login:hover, .nav-signup:hover {
    background-color: var(--white);
    border-color: var(--green);
    color: var(--green);
}

/* HERO */
main {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 0 1rem 1rem;
    height: 100vh;
    width: 100%;
    margin-bottom: 2rem;
    background-image: url(/Assets/Marble-Background.jpg);
}

main .hero-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8rem;
    width: 20%;
    z-index: 3;

    color: var(--white);
    text-shadow: 1px 2.5px var(--black);
}

.hero-text-container button {
    background-color: var(--green);
    color: var(--white);
    border: 1px solid var(--green);
    box-shadow: var(--shadow);

    height: 2.5rem;
    width: 7.5rem;
}

.hero-text-container h3 {
    color: var(--green);
}

main h1 {
    font-size: 4rem;
    line-height: 4.5rem;
    transition: 0.5s;
}

main h2:last-of-type {
    margin-bottom: 0.75rem;
}

main .hero-text-container button {
    margin-top: 1.25rem;
    width: 6.5rem;
}

main .hero-text-container button:hover {
    background-color: var(--white);
    border: 1px solid var(--green);
    color: var(--green);
    width: 7rem;
}

main .hero-food-img-container {
    position: relative;
    right: 20rem;
    top: 5rem;
    height: 100%;
}

#heroFoodDisplay {
    background-image: url(/Assets/FoodImages/DISHES/CHICKEN\ CACCIATORE.avif);
    background-size: contain;
    position: absolute;

    z-index: 2;
    border-radius: 100%;
    height: 38rem;
    width: 38rem;
    box-shadow: var(--shadow);

    transition: 0.5s;
}

main .hero-food-selector-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2rem;
    width: 35%;
}

.food-slide-1, .food-slide-2, .food-slide-3 {
    display: flex;
    align-items: center;
    background-color: var(--green);
    color: var(--white);
    gap: 1rem;
    padding: 0.75rem 0.75rem 0.75rem 2rem;
    border-radius: 10rem 0 0 10rem;
    height: 8rem;
    width: 90%;
    z-index: 4;
    box-shadow: var(--shadow);
    text-shadow: 0.75px 1px var(--black);

    transition: 0.5s;
}

main .food-slide-1:hover, .food-slide-2:hover, .food-slide-3:hover {
    color: var(--green);
    border-color: var(--green);
    background-color: var(--white);
    
    padding: 1rem 2rem 2rem 1.5rem;
    height: 8.5rem;
    width: 100%;
}

.active-slide {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 10rem 0 0 10rem;
    z-index: 4;

    transition: 0.5s;


    color: var(--green);
    border-color: var(--green);
    background-color: var(--white);
    box-shadow: var(--shadow);
    
    padding: 1rem 2rem 2rem 1.5rem;
    height: 8.5rem;
    width: 100%;
}

main .food-slide-image-1, .food-slide-image-2, .food-slide-image-3 {
    height: 6rem;
    width: 6rem;
    border-radius: 100%;
    background-color: var(--white);
}

.food-slide-image-1 {
    background-image: url(/Assets/FoodImages/DISHES/CHICKEN\ CACCIATORE.avif);
    background-size: contain;
    box-shadow: var(--shadow);
}
.food-slide-image-2 {
    background-image: url(/Assets/FoodImages/DISHES/CHICKEN\ CARB\ PASTA.avif);
    background-size: contain;
    box-shadow: var(--shadow);
}
.food-slide-image-3 {
    background-image: url(/Assets/FoodImages/DISHES/CHICKEN\ PARM\ PASTA.avif);
    background-size: contain;
    box-shadow: var(--shadow);
}

main .food-slide-text {
    width: 80%;
    height: 90%;
    line-height: 0.95rem;
}

/* HERO BANNER */
.hero-banner {
    z-index: 3;
    width: 100%;
    height: 45vh;
    margin-top: 5rem;
}

.hero-banner-container {
    background: linear-gradient( rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20) ), url('/Assets/banana-leaf-lines-fibers-pattern.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);

    gap: 3rem;
    width: 90%;
    height: 100%;
    border-radius: 0 10rem 10rem 0;
}

.banner-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--white);

    gap: 0.5rem;
    padding: 0 1rem 1rem 1rem;
    width: 20%;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
}

.banner-card h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem   ;
}

.banner-card .banner-card-icon-1, .banner-card-icon-2, .banner-card-icon-3 {
    background-color: var(--light-green);
    /* border: 1px solid var(--black); */
    box-shadow: var(--shadow);
    margin-top: -2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background-size: 3rem;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-card-icon-1 {
    background-image: url(/Assets/fast-delivery.png);
}
.banner-card-icon-2 {
    background-image: url(/Assets/restaurant.png);
}
.banner-card-icon-3 {
    background-image: url(/Assets/salad.png);
}

/* ABOUT US */
.hero-about-us {
    height: 85vh;
    width: 100%;
}

.about-us-container {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    gap: 1rem;
    height: 90%;
    width: 100%;
}

.about-us-img {
    background-image: url(/Assets/EcoEats-Logo-Transparent.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
 
    border-radius: 0.5rem;
    height: 80%;
    width: 35%;
}

.about-us-textbox {
    width: 40%;
}

.about-us-textbox h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.about-us-textbox h4 {
    color: var(--green);
    
}

.about-us-textbox p {
    margin-bottom: 1rem;
}
.about-us-textbox ul li {
    font-size: 0.75rem;
    
    width: 90%;
}

.about-us-textbox ul {
    margin-bottom: 1.5rem;
}

.about-us-textbox button {
    height: 2.5rem;
    width: 6.5rem;
    background-color: var(--green);
    color: var(--white);
    border: 1px solid var(--green);
}

.about-us-textbox button:hover {
    background-color: var(--white);
    border: 1px solid var(--green);
    color: var(--green);
    width: 7rem;
}

/* HERO MENU */
.hero-menu {
    height: 70vh;
    width: 100%;
}

.menu-container {
    background-color: var(--light-green);
    box-shadow: var(--shadow);

    padding: 1rem 0;
    height: 95%;
    width: 100%;
}

.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 3rem 10rem 2.75rem 10rem;
    height: 12.5%;
}

.menu-button-group button {
    border: none;
    background-color: var(--light-green);
    box-shadow: none;
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 100%;
}

.menu-button-group button:hover {
    background-color: var(--green);
}

.menu-header h4 {
    color: var(--green);
}

#calorieSlider {
    -webkit-appearance: none;
    appearance: none;
    background: 1px solid var(--green);
    cursor: pointer;
    -webkit-transition: .2s; 
    transition: .2s;
}

#calorieSlider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }

#calorieSlider::-webkit-slider-runnable-track {
    height: 0.25rem;
    background: var(--grey); /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#calorieSlider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -3px; /* Centers thumb on the track */
    background-color: var(--green);
    border: 1px solid var(--black);
    height: 0.75rem;
    width: 0.75rem;  
    border-radius: 100%;
}

.menu-header h1 {
    font-size: 1.75rem;
}

.menu-body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 80%;
    padding: 1.5rem 0;
}

.menu-category-container {
    
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--gray) var(--light-green);
    background-color: var(--light-green);

    padding: 0 1.5rem;
    width: 20%;
    height: 100%;
    z-index: 2;
}

.menu-category-container::-webkit-scrollbar-track {
    background-color: var(--green);
}

.menu-category-container::-webkit-scrollbar-thumb {
    background-color: var(--green);
}

.calorie-filter-container {
    width: 96%;
    z-index: 2;
    margin-bottom: 1rem;
}

.calorie-filter-container h4 {
    margin-bottom: 0.25rem;
}

.calorie-filter-container input {
    width: 95%;
}

.category-button {
    box-shadow: none;
    background-color: var(--green);
    border: 1px solid var(--green);
    text-shadow: none;

    width: 95%;
    border-radius: 10rem;
    margin-bottom: 1rem;
    transition: 0.5s;
}

.category-button:hover {
    background-color: var(--white);
    border: 1px solid var(--green);
    color: var(--green);
    padding: 0.75rem;
}

.category-button-active {
    background-color: var(--white);
    border: 1px solid var(--green);
    color: var(--green);
    text-shadow: none;
    font-size: 0.9rem;
    padding: 0.75rem;
    width: 95%;
    border-radius: 10rem;
    margin-bottom: 1rem;
    transition: 0.5s;
}

.parent-menu-food-cart-container{
    /* display: flex;
    position: absolute; */
    z-index: 0;
    padding: 0.5rem 1.5rem;
    gap: 1rem;
    width: 80%;
    height: 98%;
    transition: 0.5s;
}

.menu-food-card-container {
    display: flex;
    position: absolute;
    overflow: hidden;

    gap: 0.25rem;
    height: 95%;
    right: 0;

    transition: 0.5s;
}

.food-card {
    display: inline-block;    
    background-color: var(--white);
    width: 20rem;
    height: 80%;
    border-radius: 0.5rem;
    margin-right: 1rem;
    box-shadow: var(--shadow);
    z-index: 1;

    transition: 0.5s;
}

.menu-sandwich, .menu-chicken, .menu-burger, .menu-pork, .menu-dessert, .menu-juice {
    display: none;
}

/* TESTIMONIALS */
.hero-testimonials {
    height: 90vh;
    width: 100%;
    padding: 1rem 10rem 3rem 10rem;
}

.testimonial-container {
    display: flex;

    gap: 1.5rem;
    width: 100%;
    height: 90%;
}

.testimonial-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    gap: 2.5rem;
    height: 100%;
    width: 30%;
}

.testimonial-text-container-header h4 {
    color: var(--green);
    margin-bottom: 0.5rem;
}

.testimonial-text-container-header h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
}

.testimonial-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--green);
    color: var(--white);
    box-shadow: var(--shadow);

    width: 75%;
    /* height: 25%; */
    padding: 1rem;
}

.customer-testimonial-header {
    display: flex;
    flex-direction: column;
    text-shadow: 0.75px 1px var(--black);
    gap: 0.5rem;
}

.customer-stars {
    display: flex;
    justify-content: center;
    gap: 0.25rem;
}

.customer-stars img {
    height: auto;
    box-shadow: var(--shadow);
    width: 1rem;
}

.img-1 {
    background-image: url(/Assets/Testimonials/testimonial1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.img-2 {
    background-image: url(/Assets/Testimonials/testimonial2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.img-3 {
    background-image: url(/Assets/Testimonials/testimonial3.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.img-4 {
    background-image: url(/Assets/Testimonials/testimonial4.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.img-5 {
    background-image: url(/Assets/Testimonials/testimonial5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.img-6 {
    background-image: url(/Assets/Testimonials/testimonial6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.img-7 {
    background-image: url(/Assets/Testimonials/testimonial7.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.img-8 {
    background-image: url(/Assets/Testimonials/testimonial8.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.img-9 {
    background-image: url(/Assets/Testimonials/testimonial9.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.img-10 {
    background-image: url(/Assets/Testimonials/testimonial10.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.img-11 {
    background-image: url(/Assets/Testimonials/testimonial11.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.img-12 {
    background-image: url(/Assets/Testimonials/testimonial12.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.img-13 {
    background-image: url(/Assets/Testimonials/testimonial13.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.customer-testimonial-header h4 {
    margin-top: 0.5rem;
}

.customer-testimonial-header p {
    font-size: 1rem;
}

.testimonial-box .customer-img {
    box-shadow: var(--shadow);
    background-image: url(/Assets/Testimonials/main-testimonial.jpeg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 5rem;
    
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    margin-top: -3rem;
}

.testimonial-image-compilation {
    display: flex;
    flex-direction: column;

    gap: 0.75rem;
    height: 100%;
    width: 70%;
}

.testimonial-image-compilation .img {
    height: 10rem;
    width: 10rem;
    background-color: var(--gray);
    box-shadow: var(--shadow);

    transition: 0.5s;
}

.testimonial-image-compilation .img:hover {
    height: 11.5rem;
    width: 11rem;
    
    box-shadow: 3px 3px 22px 8px rgb(255, 255, 255);
}

.image-compilation-row-1, .image-compilation-row-2, .image-compilation-row-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

footer {
    width: 100%;
    height: 2rem;
    background-color: var(--green);
}