@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --green: #b6cf29;
    --dark-green: #53651a;
    --light-green: #daffd3;
    --black: #333333;
    --gray: gray;
    --grey: #f7f7f7;
    --white: #FEFEFE;

    --shadow: -3px 3px 22px -8px rgba(0,0,0,0.69);
}

body {
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    width: 100%;
}

p {
    font-size: 0.75rem;
}

/* SPECIFIC CSS */
nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 2rem 5rem 2rem 5rem;
    margin-bottom: 1rem;
    height: 3.125rem;
    width: 100%;
    z-index: 5;

    transition: 0.5s;
}

nav img {
    width: auto;
    cursor: pointer;

    border-radius: 100%;
    height: 3rem;
}

nav i {
    cursor: pointer;
    font-size: 1.5rem;
}











/* MAIN */
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.form-block {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: var(--green);
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/Assets/formBlockBackground.png   );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: var(--shadow);

    transition: 1s;
}

.form-block div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;

    transition: 0.5s;
}

.form-block div button {
    width: fit-content;
    padding: 0.75rem 2rem;
    border-radius: 0.5rem;
    height: 3rem;
    background-color: var(--green);
    color: var(--white);
    text-shadow: 0.75px 1px var(--gray);
    font-weight: bold;
    cursor: pointer;
    box-shadow: var(--shadow);

    transition: 0.3s;
}

.form-block div button:hover {
    transform: scale(1.05);
}

.form-block h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    color: var(--white);
    text-shadow: 0.75px 1px var(--black);
}

.form-block p {
    color: var(--white);
    text-shadow: 0.75px 1px var(--black);
    font-size: 1rem;
}

.form-block .to-signup {
    display: none;
}

.form-block .to-login {
    display: flex;
}











/* SIGNUP & LOGIN FORM */
.signup-form, .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 2rem;
    padding: 1rem 5rem;
    width: 70%;
    height: 100%;
}

.signup-form h1, .login-form h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.signup-form form, .login-form form {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 75%;
}

.form-header {
    margin-bottom: 1rem;
}

.signup-form input, .login-form input {
    height: 2.125rem;
    border-radius: 0.5rem;
    border: 1px solid var(--gray);
    padding: 0 1.25rem;
}

.terms-conditions, .remember-password {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 0.5rem;
}

.terms-conditions input, .remember-password input {
    height: 0.75rem;
}

.terms-conditions small, .remember-password small {
    font-size: 0.7rem;
}

.terms-conditions a {
    color: var(--green);
}

#signupBtn, #loginBtn {
    font-weight: bold;
    height: 2.35rem;
    border-radius: 0.5rem;
    background-color: var(--green);
    color: var(--white);
    border: transparent;

    transition: 0.3s;
}

#signupBtn:hover, #loginBtn:hover {
    transform: scale(1.05);
    border: 1px solid var(--green);
    color: var(--green);
    background-color: transparent;
}

.social-media {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
}

.socials {
    display: flex;
    gap: 1.5rem;
}

.social-media small {
    color: gray;
    font-size: 0.8rem;
}

.socials i {
    cursor: pointer;
    font-size: 1.75rem;
    color: var(--white);
    background-color: var(--green);
    padding: 0.45rem;
    border-radius: 100%;

    transition: 0.3s;
}

.socials i:hover {
    transform: scale(1.05);
    border: 1px solid var(--green);
    background-color: transparent;
    color: var(--green);
}

