@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --green: #b6cf29;
    --light-green: #daffd3;
    --black: #333333;
    --gray: gray;
    --grey: #f7f7f7;
    --white: #FEFEFE;

    --shadow: -5px 4px 11px -2px rgba(0,0,0,0.47);
}

body {
    background-color: var(--white);
    font-family: "Open Sans", sans-serif;

    width: 100%;
}

p {
    font-size: 0.75rem;
}

button {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.5rem;
}
/* SPECIFIC CSS */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 1rem 1.5rem 0.5rem 3rem;
    margin-bottom: 1rem;
    /* height: 3.125rem; */
}

nav img {
    width: auto;
    cursor: pointer;

    height: 4.5rem;
}

/* MAIN */
main {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 70vh;
}

.form-container{
    background-color: rebeccapurple;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
    padding: 1.5rem;
    width: 30%;
    height: 100%;
    border-radius: 0.5rem;
}

.form-type-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--grey);

    border-radius: 1rem;
    width: 80%;
    height: 2rem;
}

.selection-bar {
    display: flex;
    justify-content: space-around;

    width: 100%;
}

.selection-bar div {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    width: 50%;
}
